body {
  /* background: linear-gradient(233deg, #2f2644, #c0d4cf, #a5d4c3, #fadef9); */
  background-size: 100% 100%;
  animation: Gradient 3s linear infinite alternate;
  -webkit-animation: Gradient 15s linear infinite alternate;
}
}
@-webkit-keyframes Gradient {
    0%{background-color:rgb(210, 165, 136)}
    50%{background-color:rgb(15, 189, 224)}
    100%{background-color:rgb(215, 120, 131)}
}
@keyframes Gradient {
  0%{background-color:rgb(210, 165, 136)}
  50%{background-color:rgb(15, 189, 224)}
  100%{background-color:rgb(215, 120, 131)}
}
