.bt_cont {
  border: 1px solid black;
  position: relative;
  left: 100px;
}
.fh_bt {
  user-select: none;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  border: 2px solid rgba(45, 49, 51, 0.89);
  width: 50px;
  height: 20px;
  border-radius: 15px;
  position: relative;
  top: 0;
  margin-top: 0;
  margin-bottom: 10px;
  box-shadow: 0 8px 0 0 rgba(20, 20, 20, 0.9);
  display: block;
  background: rgb(129, 115, 121);
  padding: 0.5em 0.8em;
  cursor: pointer;
  transition: all 0.2s;
}

.fh_bt:active {
  box-shadow: none;
  top: 8px;
  margin-bottom: 0;
}

.fh_bt:hover {
  filter: brightness(1.1);
}

.fh_bt:active, .fh_bt:focus {
  outline: 0;
}
