.fiddleheader {
  position: relative;
  left: 30%;
  /* bottom: 10%; */
  width: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.letter {
  width: 2vw;
  font-size: 2.5vw;
  text-shadow: 1px 2px 3px #666;
  text-shadow:  0 8px 6px -6px black;
  border-radius: 50%;
  color: rgba(30, 37, 33, 0.9);
  /* box-shadow: 0 8px 4px -3px blue; */
}
.letter:nth-of-type(2n) {
  font-size: 2vw;
  width: 2vw;
  color: rgba(65, 87, 80, 0.91)
}
.letter:nth-of-type(3n) {
font-size: 2vw;
color: rgba(84, 117, 92, 0.98);
}
.letter:nth-of-type(5n) {
  font-size: 2vw;
  bottom:10px;
  color: rgba(91, 70, 94, 0.94);
