:root {
  --led-size: 14px;
  --t-width: calc(0.8 * var(--led-size));
  --t-height: calc(0.6 * var(--led-size))
}

.leds_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.each_led_container {
  width: 33px;
}

.led {
  display: inline-block;
  background-image: -webkit-linear-gradient(top, #3e0400 0%, #b5200a 50%, #cf552e 100%);
  border-radius: var(--led-size);
  width: var(--led-size);
  height: var(--led-size);
  box-shadow: 0 0 2px black;
  filter: sepia(100%);
}

.led:after {
  display: inline-block;
  content: '';
  margin: 5%;
  width: var(--t-width);
  height: var(--t-height);
  border-radius: 50%;
  background-image: -webkit-linear-gradient(top, rgba(232, 159, 159, 0.6) 0%, rgba(209, 199, 199, 0.05) 100%);
}


.led.on {
  left: 0px;
  top: 0px;
  filter: brightness(100%);
}
