.matrix_container {
  left: 10px;
  position: absolute;
  left: -1vw;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  margin: 50px;
  width: 86vw;
  /* height: 100%; */
}
.matrix_column {
  /* border: 1px solid black; */
  /* width: 50px; */
  /* height: 50px; */
  display: flex;
  flex-direction: column-reverse;
}
.matrix_cell {
  background: #5B6BF6;
  background: linear-gradient(#6d73a7, #948a8a);
  /* border-radius: 5px; */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0px 2px 15px 0px #000000;
  margin: 1px;
  padding: 1px 5px 0px 5px;
  color: #FFFFFF;
  border: solid #A6A6A6 2px;
  /* filter: brightness(0.5); */
  z-index: 20;
  text-align: center;
  width: 4vw;
  height: 16px;
  box-shadow: 2px 2px  black, inset -1px -2px 2px 0.1px;
}
.matrix_cell:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.on {
  background: rgb(59, 230, 70);

  /* filter: brightness(2); */
  background-color: rgb(59, 230, 70);
  position: relative;
  box-shadow: 0px 0px  black, inset -1px -2px 2px 0.1px;
  top: 2px;
  left: 2px;
