body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  /* background: radial-gradient(rgb(55, 330, 250), rgb(14, 36, 55)); */
  font-family: monospace;
background:rgb(36, 36, 36)
}


.app {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
}

  #footer{
    text-align: center;
    margin-top: 10px;
    /* color: #555; */
    font-size: 12px;
  }
